@font-face {
    font-family: typewriter;
    src: url("fonts/journal-webfont.woff") format("woff");
    src: url("fonts/journal-webfont.woff2") format("woff2");
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    margin: 0 15%;
    background-color: black;
    font-family:  monospace , serif;

    
}

.side-image{
    position: relative;

}

.side-image .overlay-image{
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  opacity: 0.3; 

}

.side-image img{
  width: auto;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.side-image footer{
    position: absolute;
    bottom: 0;
    color: rgb(157, 141, 141);
    background: rgba(36, 35, 35, 0.5);
    width: 100%;
    text-align: center;
    
}
.right-side{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-side > h2{
    font-family: "typewriter";
    font-size: 3.5em;
    position: relative;
}

.right-side > h2::after {
  content: "";
  position: absolute;
  left: -15px;
  bottom: 16px;
  width: 120%;
  height: 13px;
  background: transparent;
  border-bottom: 4px solid #855959;
  border-radius: 30% / 100%;
}

.right-side > p{
    font-weight: bold;
}
.right-side form{
    display: flex;
    gap:40px;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 80px;
    font-size: 0.8em;
    background-color: wh;
    border-top: 1px solid #ccc;     
    border-bottom: 1px solid #ccc;    
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);

}

.right-side form div{
    display: flex;
    flex-direction: column;
}

.right-side form .button button{
    width: 150px;
    height: 30px;
    border-radius: 3px;
    background-color: #596D48;
    color: white;
    font-family: monospace,sans-serif;
    border: none;
    cursor: pointer;
}


form .button button:hover{
    background-color: #7e9767;
}


input{
    border-radius: 2px;
    border:1px solid #c5c7cb ;
}

input:focus{
    border-color: rgb(25, 25, 255);
    outline: none;

}

input:invalid{
    border-color: red;
}
