body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    margin: 0 15%;
    background-color: black;
    font-family:  monospace , serif;
    
}

.side-image{
    position: relative;

}

.side-image img{
  width: auto;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.side-image footer{
    position: absolute;
    bottom: 0;
    color: rgb(157, 141, 141);
    background: rgba(36, 35, 35, 0.5);
    width: 100%;
    text-align: center;
    
}
.right-side{
    padding: 10px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-side > p{
    font-weight: bold;
}
.right-side form{
    display: flex;
    gap:40px;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 50px;
    margin-left: 80px;
    font-size: 0.8em;
}

.right-side form div{
    display: flex;
    flex-direction: column;
}

form .button button{
    width: 150px;
    height: 30px;
    border-radius: 3px;
    background-color: rgb(63, 63, 233);
    color: white;
    font-family: monospace,sans-serif;
}

